<!doctype html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1><%= subtitle %></h1>
<p>
<form action="/xss/greet" method="post">
    <input type="text" name="name" placeholder="名前を入力してください">
    <input type="submit" value="送信">
</form>
</p>
</body>
</html>